
/* Reset-styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  line-height: 0;
  border: none;
}


a {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
/* приховування заголовку */

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}
/* @media screen and (max-width: 1157px) {
  .section {
    padding-bottom: 96px;
    padding-top: 96px;
  } */


.card-advantages{
  display: flex;
  align-items: center;
  width: 335px;
  height: 642px;
  background-color: #124350;
  border-radius: 24px;
  padding: 80px 20px;

  color: #FBFBFB;

font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 1;
letter-spacing: -1.4px;
}  
/* 
.advantages-blok{

  color: #fff;
  display: flex;
  position: relative;

}

.advantages-one{
  position: absolute;
  top: 126px;
  content: "";
  width: 295px;
height: 2px;
border-radius: 18px;
background: rgb(201, 193, 193);
}

.advantages-two{
  position: absolute;

  content: "";
  width: 295px;
height: 2px;
border-radius: 18px;
background: rgb(201, 193, 193);
}
 */


ol {
  list-style-type: none;
  counter-reset: my-counter;

}

ol li {
  counter-increment: my-counter;
  margin-bottom: 20px;
  gap: 118px;
}

ol li:before {
  content: counter(my-counter, decimal-leading-zero);
  font-weight: bold;
  color: #000000;
}

img{
  width: 335px; ;
  height: 424px; ;
  border-radius: 24px;
}




.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}